@font-face {
    font-family: "Next Art", sans-serif;
    src: url(/fonts/NEXTART-Bold) format(woff2);
}

@font-face {
    font-family: "Next Art", sans-serif;
    src: url(/fonts/NEXTART-Heavy.woff2) format(woff2);
}

@font-face {
    font-family: "Next Art", sans-serif;
    src: url(/fonts/NEXTART-Light.woff2) format(woff2);
}

@font-face {
    font-family: "Next Art", sans-serif;
    src: url(/fonts/NEXTART-SemiBold.woff2) format(woff2);
}

@font-face {
    font-family: "Next Art", sans-serif;
    src: url(/fonts/NEXTART.woff2) format(woff2);
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-ExtraLightItalic) format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-Light) format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-Italic) format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-BoldItalic) format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-BlackItalic) format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-LightItalic) format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-Black) format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-ExtraBold) format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-Bold) format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-SemiBoldItalic) format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-ExtraLight) format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-Regular) format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-ExtraBoldItalic) format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Nunito Sans', sans-serif;
    src: url(/fonts/NunitoSans-SemiBold) format('woff2');
    font-style: normal;
}