.site-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var(--site-padding-x);
    padding-top: var(--site-padding-top);

    &__background {
        --bgImageHeight: 1000px;

        width: 100vw;
        height: var(--bgImageHeight);
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("/assets/bg-image.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        
        @include mobile {
            --bgImageHeight: 600px;

            background-image: url("/assets/bg-image-mobile.png");
        }
    }
}

.site-content {
    width: 100%;
    max-width: calc(var(--content-max-width) - var(--site-padding-x));
}

.grid {
    display: grid;

    @for $i from 1 through 12 {
        &--col-#{$i} {
            grid-template-columns: repeat(#{$i}, 1fr);
        }
    }
}

.hidden {
    @include hiden;
}

.hidden-desktop {
    @include desktop {
        @include hiden;
    }
}

.hidden-tablet {
    @include tablet {
        @include hiden;
    }
}

.hidden-mobile {
    @include mobile {
        @include hiden;
    }
}