.input {
    height: 52px;
    padding-inline: 16px;
    border-radius: var(--border-radius-input);

    @include tablet {
        padding-inline: 10px;
    }

    &--transparent {
        color: var(--color-gray-2);
        background: none;
        border: var(--border);
    }
}